.footer-container{
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: #347dcf;
    height: 20%;
}

.footer-list{
    display: flex;
    margin: 0;
}

.footer-list-item{
    flex: 24%;
}

.footer-div-divider{
    flex: 4%;
}

.footer-divider{
    height: 90%;
    margin-top: 20%;
    margin-bottom: 10%;
}

.footer-links{
    color: white;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 1%;
    padding-bottom: 3%;
}