<div class="footer-container">
    <div class="footer-list">
        <div class="footer-list-item"></div>
        <div class="footer-list-item">
            <div class="footer-links">
                <h1>More</h1>
                <p style="cursor: pointer;">Contact Me</p>
                <p style="cursor: pointer;">Help</p>
                <p style="cursor: pointer;">Report Abuse</p>
                <p style="cursor: pointer;">Documentation</p>
            </div>
        </div>
        <div class="footer-div-divider">
            <mat-divider vertical="true" class="footer-divider"></mat-divider>
        </div>
        <div class="footer-list-item">
            <div class="footer-links">
                <h1>Connect</h1>
                <p (click)="goToLink('https://www.linkedin.com/in/bendrix-n-bailey1999/')" style="cursor: pointer;">Linkedin</p>
                <p style="cursor: pointer;">Instagram</p>
                <p (click)="goToLink('https://github.com/bendrixbailey')" style="cursor: pointer;">Github</p>
            </div>
        </div>
        <div class="footer-list-item"></div>
    </div>
</div>
