.recipe-card{
    background-color: #265a94;
    color: white;
    border-radius: 10px;
    height: fit-content;
    padding-left: 0px;
    padding-right: 0px;
}

.grid-layout-custom{
    width: 100%;
}


.card-divider{
    border-top-color: #21528a;
}

.card-body{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}


.card-image{
    object-fit: fill;
    width: 100%;
    height: 100%;
    margin: 0px 0px 0px;
    /* padding: 15px; */
}