<div class="content">
    <h1>Welcome to ClearCook</h1>
    <h1>ClearCook is your place for recipes that are free of ads, interruptions, and those long and annoying stories that nobody cares about. You value your time and so do we, so enjoy!</h1>
    <div class="spacer"></div>
    <mat-divider></mat-divider>
    <h3>Need some ideas? See some randomly picked recipes below!</h3>

    <div class="recipe-container-div">
        <ul class="recipe-container">
            <li class="recipe-card-list" 
                *ngFor="let recipe of randomRecipes; index as i" >
                <div class="recipe-card-cover" 
                    (onClick)="openRandomRecipe(i)"
                    style="cursor: pointer;">
                    <img class="recipe-card-img" src={{recipe.imageLink}} alt="Photo of recipe">
                </div>
                <div class="recipe-card-content">
                    <div>
                        <h2 class="white-text">{{recipe.name}}</h2>
                        <p class="grey-text">Total Time: {{recipe.prepTime}} minutes</p>
                    </div>
                </div>
                <div class=recipe-card-footer>
                    <button mat-stroked-button class="save-button">Save</button>
                    <button mat-stroked-button class="view-button">View Recipe</button>
                </div>
            </li>
        </ul>
    </div>
    <div class="spacer"></div>
    <mat-divider></mat-divider>
    <div class="spacer"></div>
</div>

