.recipe-card{
    background-color: #265a94;
    color: white;
    border-radius: 10px;
    height: fit-content;
}

.grid-layout-custom{
    width: 100%;
}

.grid-tile-custom{

    
}

.card-image{
    object-fit: contain;
    width: 100%;
    height: 100%;
    padding: 15px;
}
.card-text{
    
}