.recipe-card{
    background-color: #265a94;
    color: white;
    padding: 10px;
    padding-top: 20px;
    border-radius: 10px;
    height: 87%;
    width: 90%;
}

.grid-layout-custom{
    width: 100%;
}

.card-image{
    margin: 10px;
}
.card-text{
    margin: 10px;
}