<div class="recipe-card-list"
    (click)="openRecipe()"
    style="cursor: pointer;">
    <div class="recipe-card-cover" >
        <img class="recipe-card-img" src={{recipe.imageLink}} alt="Photo of recipe">
    </div>
    <div class="recipe-card-content">
        <div>
            <h2 class="white-text">{{recipe.name}}</h2>
            <p class="grey-text">Total Time: {{recipe.prepTime}} minutes</p>
        </div>
    </div>
    <div class=recipe-card-footer>
        <button mat-stroked-button class="save-button" (onClick)="saveRecipe()">Save</button>
    </div>
</div>
