/*Formatting for search box*/
.top-box{
    color: #ffffff;
    padding: 1vh 4vh 1vh 4vh;
}

.search-bar{
    outline: 2px white;
    border: 2px;
    font-size: small;
    width: 80%;
    padding-bottom: 0px;
}

.mat-form-field{
    font-size: 15px;
    border-color: white;
}

::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: white !important;
}
  
::ng-deep.mat-form-field-flex {
    /*change color of underline*/
    color: white !important;
} 

::ng-deep.mat-form-field-underline {
    /*change color of underline when focused*/
    background-color: white !important;
}
  
::ng-deep.mat-form-field-autofill-control {
   /*change color of underline when focused*/
    color: white;
}
::ng-deep.mat-label {
    /*change color of underline when focused*/
     color: white;
}

.results-text{
    margin-top: 0px;
}


/*Formatting for recipe card layout.*/

.recipe-container{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0px;
    margin: 0px;
}

.recipe-container-div{
    display: flex;
    /* width: 1140px; */

}




