<div class="top-box">
    <div>
        <mat-form-field class="search-bar" style="margin-bottom: -1.25em; font-size: 2vw; padding-bottom: 5px;">
            <mat-label style="color: white;">Search for a Recipe</mat-label>
            <input matInput type="text" style="color: white;" [(ngModel)]="search" (keyup.enter)="getRecipesByName(search)">
            <button *ngIf="search" matSuffix mat-icon-button aria-label="Clear" (click)="search=''">
                <mat-icon>close</mat-icon>
            </button>
            <mat-icon matSuffix style="cursor: pointer;" (click)="getRecipesByName(search); filtersUpdated();">search</mat-icon>
        </mat-form-field>
    </div>
    <div class="sorting-box">
        <mat-form-field >
            <mat-label style="color: white;">Meal</mat-label>
            <mat-select [formControl]="meal" multiple>
                <mat-option *ngFor="let meal of meals" [value]="meal">
                    {{meal}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label style="color: white;">Main Ingredient</mat-label>
            <mat-select [formControl]="ingredient" multiple>
                <mat-option *ngFor="let main_ingredient of main_ingredients" [value]="main_ingredient">
                    {{main_ingredient}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label style="color: white;">Other Categories</mat-label>
            <mat-select [formControl]="category" multiple>
                <mat-option *ngFor="let category of categories" [value]="category">
                    {{category}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <button class="submit-button" mat-button (onClick)="filtersUpdated()" color="primary">Confirm Filters</button>
        <button class="clear-button" mat-button (onClick)="clearFilters()" color="warn">Clear</button>
    </div>
    <mat-divider></mat-divider>
</div>
<div>
    <div class="sidenav">
        <h2>Applied Filters:</h2>
        <h3 *ngIf="selectedMeals || selectedIngredients || selectedCategories">No filters applied</h3>
        <mat-chip-list class="mat-chip-list-stacked">
            <h3 *ngIf="!selectedMeals">Meals: </h3>
            <mat-chip *ngFor="let value of selectedMeals">{{value}}</mat-chip>
            <h3 *ngIf="!selectedIngredients">Main Ingredients: </h3>
            <mat-chip *ngFor="let value of selectedIngredients">{{value}}</mat-chip>
            <h3 *ngIf="!selectedCategories">Other Categories: </h3>
            <mat-chip *ngFor="let value of selectedCategories">{{value}}</mat-chip>
        </mat-chip-list>
    </div>
    <div class="main-content">
        <div class="recipe-container-div">
            <ul class="recipe-container">
                <app-recipe-card 
                *ngFor="let recipe of sortedRecipes"
                [recipe] = "recipe"
                ></app-recipe-card>
            </ul>
        </div>
        <div class="spacer"></div>
        <mat-divider></mat-divider>
        <h1 *ngIf="!recipes">No recipes match that search! Try something broader, or choose from a popular category!</h1>
    </div>
</div>

<!-- https://www.w3schools.com/howto/howto_css_image_grid_responsive.asp -->
