/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html {
    background-color: #1c1c1c;
}
h1{
    color: white;
}

h3{
    color:white;
}


@media screen and (max-width: 800px){
    h1{
        font-size: 3.5vw;
    }
    h2{
        font-size: 2.5vw;
    }
    h3{
        font-size: 2vw;
    }
    p{
        font-size: 2vw;
    }
}

.mat-divider{
    width: 100%;
    border-top-color: #2e2e2e;
    border-top-width: 3px;
}

.white-text{
    color: white;
}
.grey-text{
    color: lightgrey;
}

.spacer{
    padding: 50px;
}


.content {
    display: flex;
    margin: 3vw 5vw 3vw 5vw;
    flex-direction: column;
    align-items: center;
}

.inline-img{
    display: inline-block;
    color: white;
    vertical-align: middle;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
