/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html {
    background-color: #1c1c1c;
}
h1{
    color: white;
}
h3{
    color:white;
}

.mat-divider{
    width: 100%;
    border-top-color: #2e2e2e;
    border-top-width: 3px;
}

.white-text{
    color: white;
}
.grey-text{
    color: lightgrey;
}

.spacer{
    padding: 50px;
}

.app-toolbar{
    position:sticky;
    top: 0;
    z-index: 1000;
    background-color: #265a94;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: white;
}

.content {
    display: flex;
    margin: 82px;
    /* max-width: 960px; */
    flex-direction: column;
    align-items: center;
}

/*
Color Scheme 1:
    #D7CEC7
    #565656
    #76323F
    #C09F80

Color Scheme 2:
    #22223b
    #4a4e69
    #9a8c98
    #c9ada7
    #f2e9e4

Color Scheme 3:
    #1B262C
    #0F4C75
    #3282B8
    #BBE1FA
*/
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
